/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.Connexion, .Button {
    background-image: url('../src/projectweeb_buttons_gold.png');
}

.Inscription {
    background-image: url('../src/projectweeb_buttons_gold.png');
}

.logo_accueil {
    
}

body {
    background-image: url('../src/accueil_background.png');
    background-size: 100% ;
}