/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.Connexion {
    background-image: url('../src/projectweeb_buttons_gold.png');
}

.Inscription {
    border:none;
    text-align:center;
}

.Bouton {
    border:none;
}

.logo_accueil {
    background-image: url('../src/entropy_logo.png');
}

body {
    background-image: url('../src/accueil_background.png');
    background-size: auto;
}