/*	Class="A" -> .A{}
	ID="A" -> #A{}
*/

.Button {
	background: transparent;
	border: none;
	background-image: url('../src/ProjectWeeb_Buttons_gold.png');
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	text-decoration: none;
	padding: 100px;
	padding-top: 45px;
	padding-bottom: 50px;
}

.profileButton {
	background: transparent;
	border: none;
	background-image: url('../src/ProjectWeeb_Buttons_gold.png');
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	text-decoration: none;
	padding: 100px;
	padding-top: 40px;
	padding-bottom: 45px;
}

.Button:hover {
	color: white;
	text-decoration: none;
	text-shadow: rgb(255, 255, 255) 5px 5px 5px;
}

.profileButton:hover {
	color: white;
	text-decoration: none;
	text-shadow: rgb(255, 255, 255) 5px 5px 5px;
}

 .bouton-aligne {
	display: inline-block;
	width: 45%;
	margin: 10px 2.5% 10px 2.5%;
	text-align: center;
}

.Form { /*set size*/
	background-image: url('../src/connect.png');
	background-size: contain;
	background-repeat: no-repeat;
	
	display: flex;
	color: white;
	flex-direction: column;
}

#inscriptionForm {
	padding: 150px;
	padding-top: 25px;
}

#connectionForm {
	padding: 100px;
	padding-top: 25px;
}

.Button_submit {
	background: transparent;
	border: none;
	background-image: url('../src/ProjectWeeb_Buttons_gold.png');
	background-size: cover;
	padding: 15%; /*important*/
	font-size: 100%; /*important*/
	text-align: center;
	color: white;
	text-decoration: none;
	display: inline-block;
}



img {
	height: 30%;
	width: 30%;
}

#Corner {
	position: absolute; /*important*/
	background-image: url('../src/corner.png');
	background-repeat:no-repeat;
	background-size:contain;
	width: 15%;
	height:15%;
	top: 0px;
	left: 0px;
}


.container {
	display: flex;
	align-items: center;
	justify-content:center;
	text-align:center;
	margin: auto;
	margin-top: 10%;
	width: 100%;
	height: 100%;
}

.container2 {
	/*display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:space-evenly;*/
	align-items:start;
	margin: auto;
	margin-top: 10%;
	width: 100%;
	height: 100%;
}

#ImgCollect {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
}


#Formulaire {
	border-radius: 5px;
	background-color: rgba(74, 42, 4, 0.5); /*PlaceHolder for background-image*/
	padding: 20px;
}

input[type=text], input[type=password] {
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px groove #023d14;
}

input[type=text]:focus, input[type=password]:focus{
	background-color:rgba(1, 242, 250, 0.8);

}

#background {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
	width: 100%;
	height: 100%;
}

#Canvas {
	position: absolute;
	left:0px;
	top:0px;
	border: 1px solid black;
}