@page
@using System.IO
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using ProjectWeeb.GameCard.Business.BusinessData
@using ProjectWeeb.GameCard.Helper
@using ProjectWeeb.GameCard.Manager
@model ProjectWeeb.CardsCollectionModel
@{
    ViewData["Title"] = "CardsCollection";
}
<div class="container2">
    <div id="background">
        <img src="~/src/Background3.png" class="stretch" alt="" />
    </div>

    <div id="Corner">
        @{
            string s = HttpContext.Session.GetString("user");
            string name = "";
            if (!string.IsNullOrEmpty(s))
            {
                User user = JsonConvert.DeserializeObject<User>(s);
                name = user.UserName;
            }

            <h2>@name</h2>
        }
    </div>

    <div id="ImgCollect">
        @{
            if (!string.IsNullOrEmpty(s))
            {
                User user = JsonConvert.DeserializeObject<User>(s);

                foreach (var card in user.Cards)
                {

                    string path = WeebResourceManager.GetInstance().GetCardImageByCardId(card.CardId);
                    <img src=@path class="image">
                }
            }
        }
    </div>

</div>


