@page
@model ProjectWeeb.DeckCollectionModel
@{
    ViewData["Title"] = "DeckCollection";
}

    <div class="container2">
        <div id="background">
            <img src="~/src/Background3.png" class="stretch" alt="" />
        </div>

        <div id="Corner">
            <!--Put img as background in css, get Username and Level/rank from DB-->
            level
        </div>

        <table>
            <tbody>
                <!--Corps du Tableau de cartes max 2 lignes par page-->
                <tr>
                    <!--Ligne du Tableau de cartes: max 4 cartes-->

                </tr>
            </tbody>
        </table>

    </div>

