@page
@model ProjectWeeb.EncyclopediaModel
@{
    <div class="container2">
        <div id="background">
            <img src="~/src/Background3.png" class="stretch" alt="" />
        </div>

        <div id="Corner">
            <!--Put img as background in css, get Username and Level/rnk from DB-->
            level
        </div>

        <div id="Encyclo">
            <img src="~/src/Cards/0.png" />
            <div>
                <h2>Megumin</h2>
                <br/>
                <p> J'en AI MARRE DE TOUT CE BOULOT</p>
            </div>
        </div>

    </div>
}
