@page
@using ProjectWeeb.GameCard.Control
@model ProjectWeeb.Pages.GamePlateauModel
@{
    <style>
        body {
            overflow: hidden;
        }
    </style>
    <div class="container2">
        <canvas id="Canvas">
        </canvas>
    </div>
    
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/weeb.js"></script>
}
