@page
@using ProjectWeeb.GameCard.Control
@model ProjectWeeb.Pages.GamePlateauModel
@{
    
    <div class="container2">
        <div id="background">
            <img src="~/src/Background2.png" class="stretch" alt="" />
        </div>


        <canvas id="Canvas">
        </canvas>

        <div id="Corner">
            <!--Put img as background in css, get Username and Level/rank from DB-->
            level
        </div>
    </div>
    
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/weeb.js"></script>
}
