@page
@using ProjectWeeb.GameCard.Control
@model ProjectWeeb.Pages.GamePlateauModel
@{
    /*
        A l'arrivée sur la page on dispose d'informations sur le joueur grâce au WebSiteManager
        Ce WebSiteManager est instancié quand le joueur se connecte et est disposé à sa deconnection
        si il y a deux joueurs dans l'instance connectés (nombre de clients?) ou juste vérifier que dans le
        GameManager les deux joueurs sont présents? on lance la partie
        Avec le setup du Jeu (setUpGame)
        On tire au sors le joueurs qui jouera en premier
        et on joue jusqu'a qu'un des deux joueurs perde, se déconnecte (ferme la page,...) ou déclare forfait.

        S'il un joueur est manquant, c'est le joueur restant qui est déclaré gagnant.    
     */
    <div class="container2">
        <div id="background">
            <img src="~/src/Background2.png" class="stretch" alt="" />
        </div>


        <canvas id="Canvas">
        </canvas>

        <div id="Corner">
            <!--Put img as background in css, get Username and Level/rank from DB-->
            level
        </div>
    </div>
    
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/weeb.js"></script>
}
