@page


    <div class="container">
        <input type="button" value="Inscription" class="inscription" OnClick="location.href='Inscription.cshtml'"/>
        <img src="~/src/Entropy_logo.png" class="logo_accueil" />
        <input type="button" value="Connection" class="connection" OnClick="location.href='Connection.cshtml'"/>
    </div>