@page
@model ProjectWeeb.Pages.IndexModel
<div class="container">
        
    <a asp-area="" asp-page="/Inscription">
        <img asp-area="" asp-page="/Inscription" class="Button" src="/src/ProjectWeeb_Buttons_gold.png" />
    </a>
    <img id="logo_accueil" class="item"/>
    <a id="Connexion" class="item" asp-area="" asp-page="/Connexion">
        <img asp-area="" asp-page="/Inscription" class="Button" src="/src/ProjectWeeb_Buttons_gold.png" />
    </a>
</div>