@page
@model ProjectWeeb.Pages.IndexModel
<div class="container">
    <div id="background">
        <img src="/src/Accueil_background.png" class="stretch" alt="" />
    </div>
    
    <a asp-area="" asp-page="/Inscription" class="Button">Inscription</a>

    <img  src="~/src/logo_weeb.png" />

    <a asp-area="" asp-page="/Connexion" class="Button">Connection</a>
    
</div>