@page
@model ProjectWeeb.Pages.IndexModel
<div class="container">
    <div id="background">
        <img src="/src/Accueil_background.png" class="stretch" alt="" />
    </div>
    
    <a id="item" asp-area="" asp-page="/Inscription" class="Button">Inscription</a>

    <img  id="item" src="~/src/Entropy_logo.png" />

    <a id="item" class="Button" asp-area="" asp-page="/Connexion">Connexion</a>
    
</div>