@page
@model ProjectWeeb.Pages.InscriptionModel
@{
    <div class="container">
        <div id="background">
            <img src="/src/Accueil_background.png" class="stretch" alt="" />
        </div>
       
            <form method="POST" class="Form">
                <div>
                    <label for="login">Username</label>
                    <input type="text" name="login" id="login" required />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required />
                </div>
                <div>
                    <label for="confPassword">Confirm <br/> Password</label>
                    <input type="password" name="confPassword" id="confPassword" minlength="4" required />
                </div>
                <input type="submit" value="Submit" class="Button_submit" />
            </form>
    </div>

}
