@page
@model ProjectWeeb.MatchingPopUPModel
@{
    <div class="container">

        <div id="background">
            <img src="/src/" class="stretch" alt="" />
        </div>

        <h1>Searching For Opponent</h1>
        <!--<p>Barre de Chargement</p>-->

    </div>
}

