@page
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using ProjectWeeb.GameCard.Business.BusinessData
@model ProjectWeeb.Pages.MatchingQueueModel
@{
    ViewData["Title"] = "MatchingQueue";
}
<div class="container">

    <div id="background">
        <img src="/src/" class="stretch" alt="" />
    </div>
    
    
    <h1>Searching For Opponent</h1>
    <!--<p>Barre de Chargement</p>-->
    

    

</div>
