@page
@using ProjectWeeb.GameCard.Control
@model ProjectWeeb.Pages.ProfileModel
@{
    <div class="container">
        <div id="background">
            <img src="~/src/Background2.png" class="stretch" alt="" />
        </div>

        <!--Left top level corner -->
        <div id="Corner">
            <!--Put img as background in css, get Username and Level/rank from DB-->
            level
        </div>
        
        <!--Middle game button set-->
        <div style="width: 100%; height: 100%">
            
            <form asp-page-handler="matchMaking" method="post">
                <button id="PopUP" class="Button">Game</button>
            </form>

            <a asp-area="" asp-page="/GamePlateau" class="Button">Cards</a>

            <a asp-area="" asp-page="" class="Button">Decks</a>
        </div>

        <!--Bottom right option corner-->
        <!--<div>
            <div class="bouton-aligne">
                <button></button> !--Bouton d'options--
            </div>
            <div class="bouton-aligne">
                <button></button> !--Bouton de son--
            </div>
            <div class="bouton-aligne">
                <button></button> !--Bouton de contact--
            </div>
        </div>-->
    </div>
}


