@page
@using ProjectWeeb.GameCard.Control
@model ProjectWeeb.Pages.ProfileModel
@{
    <div class="container2">
        <div id="background">
            <img src="~/src/Background2.png" class="stretch" alt="" />
        </div>

        <!--Left top level corner -->
        <div id="Corner">
            <!--Put img as background in css, get Username and Level/rank from DB-->
            level
        </div>
        
        <div id="profileMenu">
            <form asp-page-handler="GamePlateau" method="post">
                <button id="PopUP" class="profileButton">Game</button>
            </form>

            <a asp-area="" asp-page="/CardsCollection" class="profileButton">Cards</a>

            <a asp-area="" asp-page="/DecksCollection" class="profileButton">Decks</a>
        </div>
        
    </div>
}


