@page
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using ProjectWeeb.GameCard.Business.BusinessData
@using ProjectWeeb.GameCard.Control
@model ProjectWeeb.Pages.ProfileModel
@{
    <div class="container2">
        <div id="background">
            <img src="~/src/Background2.png" class="stretch" alt="" />
        </div>

        <!--Left top level corner -->
        <div id="Corner">
            @{
                string s = HttpContext.Session.GetString("user");
                string name = "";
                if (!string.IsNullOrEmpty(s))
                {
                    User user = JsonConvert.DeserializeObject<User>(s);
                    name = user.UserName;
                }

                <h2>@name</h2>
            }
        </div>
        
        <div id="profileMenu">
            <form asp-page-handler="GamePlateau" method="post">
                <button id="PopUP" class="profileButton">Game</button>
            </form>

            <a asp-area="" asp-page="/CardsCollection" class="profileButton">Cards</a>

            <a asp-area="" asp-page="/DecksCollection" class="profileButton">Decks</a>
        </div>
        
    </div>
}


